[submodule "references/design-doc-mermaid"]
	path = references/design-doc-mermaid
	url = https://github.com/SpillwaveSolutions/design-doc-mermaid
[submodule "references/auto-mermaid-diagram-skill"]
	path = references/auto-mermaid-diagram-skill
	url = https://github.com/maverickgao8848/auto-mermaid-diagram-skill
[submodule "references/superpowers"]
	path = references/superpowers
	url = https://github.com/obra/superpowers
[submodule "references/mattpocock"]
	path = references/mattpocock
	url = https://github.com/mattpocock/skills
[submodule "references/agent-skills"]
	path = references/agent-skills
	url = https://github.com/addyosmani/agent-skills
[submodule "references/frontend-slides"]
	path = references/frontend-slides
	url = https://github.com/zarazhangrui/frontend-slides.git
[submodule "references/slide-craft-skill"]
	path = references/slide-craft-skill
	url = https://github.com/maverickgao8848/slide-craft-skill.git
[submodule "references/garden-skills"]
	path = references/garden-skills
	url = https://github.com/ConardLi/garden-skills.git
[submodule "references/taste-skill"]
	path = references/taste-skill
	url = https://github.com/Leonxlnx/taste-skill
[submodule "references/wechat-article-publisher-skill"]
	path = references/wechat-article-publisher-skill
	url = https://github.com/pengcong2020520/wechat-article-publisher-skill.git
[submodule "references/anthropics-skills"]
	path = references/anthropics-skills
	url = https://github.com/anthropics/skills
[submodule "references/agnes-ai-generation-skill"]
	path = references/agnes-ai-generation-skill
	url = https://github.com/Yacey/agnes-ai-generation-skill.git
